name: 5-minute schedule

on:
  schedule:
    -cron: `0 0 99 99 * ?`
  #changing the schedule to something that will never run, decom as of 8/1
    #- cron: '*/5 * * * *'
    
jobs:
  some-job:
    runs-on: ubuntu-latest
    container:
      image: pjlanger/hawtwheelz:latest
    steps:
      - name: Read public CitiBike JSON feed
        run: |
          git config --global user.email "system@hawtwheelz"
          git config --global user.name "Hawtwheelz"
          python json_status_read.py
        env:
          HAWTWHEELZ_GITHUB_TOKEN: ${{ secrets.HAWTWHEELZ_GITHUB_TOKEN }}
        working-directory: /code
